<DOCTYPE! html>
<html>
  <head>
    <title>The Alpha Blog Project</title>
  </head>
  <body>
    <h1>About Our Sweet Blog</h1>
    <p>Here is some information about our sweet blog, we love doing this.</p>
    <p>If you'd like to visit our home page, click <%= link_to 'here', root_path %></p>
  </body>
</html>