<DOCTYPE! html>
<html>
  <head>
    <title>The Alpha Blog Project</title>
  </head>
  <body>
    <h1>Welcome to Our Sweet Blog</h1>
    <p>Here we'll keep you up to date on all there is in the great outdoors.</p>
    <p>If you'd like to learn more about us, click <%= link_to 'here', about_path %></p>
    <p>If you'd like to read some sweetness , click <%= link_to 'here', articles_path %></p>
  </body>
</html>